run = 'just run'

hidden = [
    '.config',
    'pnpm-lock.json',
]

modules = [
    'go-1.21:v8-20240329-787bc7d',
    'nodejs-20:v32-20240401-269b323'
]

[nix]
channel = 'stable-23_11'

[[ports]]
localPort = 4321
externalPort = 80
exposeLocalhost = true



